{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <title>Task Master</title>
    <link rel="stylesheet" href="{% static 'task/css/style.css' %}">
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col">
                <h1 id="titulo">HOLA chimuela</h1>
                <p>mply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
                    standard dummy text ever since 1966, when designers at Letraset and James Mosley, the librarian
                     at St Bride Printing Library, took a 1914 Cicero translation and scrambled it to make dummy 
                     text for Letraset's Body Type sheets. It has survived not only many decades, but also the 
                     leap into electronic typesetting, remaining essentially unchanged. It was popularised thanks
                      to these sheets and more recently with desktop publishing software including versions of</p>
            </div>
        </div>
    </div>
</body>
</html>